<nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <svg xmlns="http://www.w3.org/2000/svg" width="1200pt" height="1200pt" version="1.1"
                    viewBox="0 0 1200 1200">
                    <g>
                        <path
                            d="m348.84 67.641c-246.52 110.37-383.51 382.17-328.05 646.22 110.39 506.25 763.34 630.61 1051.7 200.53 61.102-93.164 94.547-204.3 94.148-315.73 0.11719-419.16-434.16-703.29-817.83-531.02zm808.27 495.07c-46.172 4.5703-92.062 10.734-137.77 17.953 5.1562-60.281-5.0156-121.59-30.469-177.59l-56.484-124.29c-7.8516-17.297-10.195-36.305-6.75-54.984l11.484-62.297c122.86 90.211 208.92 231.61 219.98 401.2zm-786.98-450.12c29.836-14.812 60.117-26.625 90.562-35.602-1.1953 11.297-2.3672 22.641-3.9609 33.023-3.1641 17.016-10.312 33.117-20.648 46.711-8.2734 10.734-18.234 19.758-29.766 26.672-3.3516 2.2969-6.9609 4.5469-10.219 7.0078-36.914 27.516-57.938 73.688-54.914 119.86 0.49219 9.9609 2.5312 20.578 5.1094 30.188 5.6719 20.883 18.586 64.477 24.703 85.852 9.2109 33.984-3.1641 71.602-29.883 94.148-66.773 58.617-132.09 119.67-194.09 183.35-19.031 19.641-37.875 39.492-56.156 59.953-79.617-253.01 38.508-531.94 279.26-651.16zm-264.98 691.03c-3.0234-7.5-5.8359-15.023-8.5078-22.57 97.266-64.008 188.23-136.95 277.12-211.92 6-5.1328 12.797-10.898 18.141-16.711 36.492-37.852 49.125-96.023 32.484-145.78-2.0156-6.2344-6-17.695-8.1328-23.977-5.9531-17.367-13.969-40.758-20.062-57.797-2.0625-6.0938-3.8438-12.82-4.6406-19.219-5.2266-33.867 9.7734-69.891 36.586-91.359 30.914-24.422 50.273-63.164 49.711-102.56-0.46875-13.125-1.9219-25.805-3.5156-38.555 132.3-35.391 266.81-18 381.14 38.672-80.719 71.906-157.17 148.05-232.45 225.49-32.602 34.617-27 90.562 11.156 118.73 3.6797 2.7891 10.43 7.7812 14.086 10.453 1.7344 1.2188 3.2812 2.8828 5.0156 4.125 2.9766 3.1406 5.8594 6.5391 7.7578 10.453 7.2422 13.477 6.1641 31.523-3.3281 43.688-3.8672 5.4609-9.8203 9.5391-15.281 13.359-96.188 67.617-195.28 139.43-289.29 210.23l-3.9609 3-1.9922 1.5c-9.4219 7.0312-17.133 16.688-21.141 27.773-7.3594 19.594-3.5156 42.633 10.125 58.406 2.8125 3.6328 6.6562 6.3984 9.75 9.6797 5.2969 6.0234 5.9062 16.336 0.77344 23.367-1.0781 1.4062-2.2031 2.8359-3.6797 3.9375l-1.1016 0.89062-0.28125 0.23438-0.51562 0.32812c-45.07 29.297-90.047 58.898-134.25 89.648-41.273-45.938-76.031-100.5-101.72-163.52zm110.06 172.55c47.625-22.172 94.664-45.539 141.49-69.094 6.1875-3.0938 11.859-7.2656 16.547-12.398 16.898-18.07 19.383-47.836 5.0156-68.812-2.3672-3.5625-5.3906-7.0312-8.4375-10.078-4.6875-4.9922-5.8359-12.867-2.8125-18.914 1.2422-2.4609 3.0938-4.3828 5.3438-5.8594l32.273-21.117 33.234-21.82c79.922-52.969 163.9-110.11 242.2-164.93 9.2812-6.4453 17.953-14.297 24.586-23.531 30.656-41.18 23.906-100.31-15.703-133.1l-5.4375-4.3125-1.3594-1.0547c-1.875-1.2891-5.2266-3.6562-7.1484-4.9453-1.5-0.96094-8.7422-6.0469-10.008-6.9609-8.2969-6.6328-11.695-18.328-8.4141-28.547 1.0078-3.1641 2.5312-6.1875 4.7109-8.9297 38.695-45.258 76.875-91.172 114.16-137.65 30.75-38.414 61.148-77.156 90.258-117.07 21.047 10.992 41.367 23.32 60.82 36.914l-12.492 67.711c-3.8906 21.047-1.2656 42.469 7.5938 61.945l56.484 124.29c25.008 55.055 34.781 115.41 29.203 174.66-52.547 8.5078-104.88 18.305-157.17 28.676-2.7188 0.48438-5.4375 1.2188-7.9609 2.2422-15.258 6.375-29.516 15.641-42.156 26.945-1.7812 1.625-4.1484 3.0234-6.0469 4.4531-20.016 14.844-38.25 32.406-54.938 51.344-34.922 39.961-68.102 81.23-101.94 122.25-3.0234 3.5938-6.2266 7.0781-9.1875 10.734-35.469 44.383-73.234 89.516-118.95 126.8-80.406 66.25-168.77 122.96-261.8 169.55-36.391-3.0703-72.281-9.0391-107.09-17.625z"
                            fill="#4a4a4a" />
                    </g>
                </svg>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        {{!-- Main menu: --}}
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Home
                </a>

                <a class="navbar-item" href="/blog">
                   Tech Blog
                </a>
                    </div>
                </div>
            </div>
            {{!-- Other Resources: --}}
             <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                       Tech Resources
                    </a>

                    <div class="navbar-dropdown">
                        <a href="https://www.nasa.gov/" class="navbar-item">Nasa.gov</a>
                        <a href="https://spaceplace.nasa.gov/menu/play/" class="navbar-item">Spaceplace.nasa</a>
                        <a href="https://astro.cafeastrology.com/natal.php" class="navbar-item">Astro.cafe</a>
                        <a href="https://www.space.com/" class="navbar-item">Space.com</a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" >
                            Report an issue
                        </a>
                    </div>
                </div>
            </div>


            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {{#if logged_in}}
                        <a class="button is-light" href="/profile">
                            <strong>Your Profile</strong>
                        </a>
                         <a class="button is-danger" id="logoutBtn">
                            <strong>Logout</strong>
                        </a>
                        <script src="/js/logout.js"></script>
                        {{else}}
                        <a class="button is-primary" href="/signup">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light" href="/login">
                            Log in
                        </a>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </nav>