<section class="section">
    {{!-- Username Field --}}
    <div class="field">
        <label class="label">Username</label>
        <div class="control">
            <input class="input" type="text" placeholder="Enter your Username" id="username">
        </div>
    </div>
    {{!-- End Username Field --}}

    {{!-- Email Field --}}
    <div class="field">
        <label class="label">Email</label>
        <div class="control">
            <input class="input" type="email" placeholder="Enter your Email" id="email">
        </div>
    </div>
    {{!-- End Email Field --}}

    {{!-- Password Field --}}
    <div class="field">
        <label class="label">Password</label>
        <div class="control">
            <input class="input" type="password" minlength="10"
                placeholder="Enter your password (10 characters minimum)" id="password">
        </div>
    </div>
    {{!-- End Password Field --}}

    {{!-- Submit Button --}}
    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link" id="signUpBtn">Submit</button>
        </div>
    </div>
    {{!-- End Submit Button --}}

    {{!-- Script to Handle Sign Up --}}
    <script src="./js/signUp.js"></script>
</section>
