/* Style for h1 elements */
h1 {
    padding-top: 8%; /* Top padding for h1 */
    padding-bottom: 2%; /* Bottom padding for h1 */
}

/* Define width for elements with class .blog-section */
.blog-section {
    width: 20%; /* Width of 20% */
}

/* Style for elements with id #buttons */
#buttons {
    padding-top: 5%; /* Top padding for elements with id #buttons */
}

/* Style for horizontal rule elements */
hr {
    height: 5px; /* Height of horizontal rule */
}

/* Style for elements with id #blog-entry */
#blog-entry {
    padding-top: 2%; /* Top padding for elements with id #blog-entry */
    padding-left: 45%; /* Left padding for elements with id #blog-entry */
}
