<section class="section">
  <div class="field">
    <label class="label">Email</label>
    <div class="control">
      <input class="input" type="text" placeholder="Enter your Email" id="email">
    </div>
  </div>

  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input class="input" type="password" placeholder="Enter your password" id="password">
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link" id="loginBtn">Sign In</button>
    </div>
  </div>
  <script src="./js/login.js"></script>
</section>